.thumbnail {
  width: 5%;
  margin: 0 auto;
}

.nav-pills{
  margin-left: 34%;
}


@media (max-width: 700px) {
  .nav-pills {
    margin-left: 20%;
  }
}

.active a {
    color: white !important;
    background-color: purple !important;
}
